<!-- ng class can be string, array or object -->
<div class="course-card" *ngIf="course" #container [ngClass]="cardClasses()">
  <div class="course-title">
    {{ cardIndex + " " + course.description }}
  </div>

  @if (course.id == 1) {
  <h1>This is a course with id {{ course.id }}.</h1>
  } 
  <ng-content
    select="course-image"
    *ngIf="course.iconUrl; else noImage"
  ></ng-content>

  <ng-template #noImage>
    <ng-container
      *ngTemplateOutlet="
        noImageTpl;
        context: { description: course.description }
      "
    >
    </ng-container>
  </ng-template>

  <ng-content select=".course-description"></ng-content>

  <div class="course-category" [ngSwitch]="course.category">
    <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>

    <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>

    <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
  </div>

  <button (click)="onCourseViewed()">View Course</button>
</div>
