<!-- ng class can be string, array or object -->
<div class="course-card" *ngIf="course" #container [ngClass]="cardClasses()">
  <div class="course-title">
    <!-- {{ cardIndex + " " + course.description }} -->
      <app-course-title [title]="course().description"></app-course-title>
  </div>

  @if (course().id == 1) {
  <h1>This is a course with id {{ course().id }}.</h1>
  }

  <ng-content select="course-image" *ngIf="course().iconUrl"></ng-content>
  <!-- <ng-content
    select="course-image"
    *ngIf="course.iconUrl; else noImage"
  ></ng-content> -->

  <!-- <ng-template #noImage>
    <ng-container
      *ngTemplateOutlet="
        noImageTpl;
        context: { description: course.description }
      "
    >
    </ng-container>
    the below will show in localhost not in github codespace
    <img src="../../assets/empty-image.png" />
  </ng-template> -->

  <div class="course-description">
    Edit Title:
    <input
      #courseTitle
      [value]="course().description"
      (keyup)="onTitleChange(courseTitle.value)"
    />
  </div>

  <ng-content select=".course-description"></ng-content>

  <!-- to display any extra information -->
  <ng-content></ng-content>

  <div class="course-category">
    @switch (course().category) { @case ('BEGINNER') {
    <div class="category">Beginner</div>
    } @case ('INTERMEDIATE') {
    <div class="category">Intermediate</div>
    } @case ('ADVANCED') {
    <div class="category">Advanced</div>
    } @default {
    <div class="category">Unknown</div>
    } }
  </div>

  <button (click)="onCourseViewed()">View Course</button>
  <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>
</div>
