<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="demo">
  <!-- angular has lot of inbuilt pipes some are number, titleCase, upperCase, slice, keyvalue etc... -->
 Today's Date:- {{ todaysDate | date: 'MMM/dd/YYYY' }}
</div>

@for (course of courses; track course.id;) {
<div class="courses">
  <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [cardIndex]="$index"
  >
    @if(course.id == 1){
    <h1>This is a course with id {{ course.id }}</h1>
    } @else if (course.iconUrl) {
    <course-image [src]="course.iconUrl" #courseImage></course-image>
    }

    <div class="course-description">
      {{ course.longDescription }}
    </div>
  </course-card>
</div>
}
