<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

@for (course of courses; track course.id;) {
<div class="courses">
  <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [cardIndex]="$index"
  >
  @if(course.id == 1){
    <h1>This is a course with id {{ course.id }}</h1>
  }
  @else if (course.iconUrl) {
    <course-image [src]="course.iconUrl"></course-image>
  }

    <div class="course-description">
      {{ course.longDescription }}
    </div>
  </course-card>
</div>
}
