<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="demo">
  <!-- angular has lot of inbuilt pipes some are number, titleCase, upperCase, slice, keyvalue etc... -->
  Today's Date:- {{ todaysDate | date : "MMM/dd/YYYY" }}
</div>

@for (course of courses; track course.id;) {
<div class="courses salmon-theme">
  <!-- @if(!course.iconUrl) { -->
  <ng-template #blankImage let-courseName="description">
    <h3>{{ courseName }} has No image available</h3>
  </ng-template>

  <!--   <ng-container
    *ngTemplateOutlet="blankImage; context: { description: course.description }"
  ></ng-container> -->
  <!-- } -->
  <course-card
    appHighlighted
    (toggleHighlight)="onToggle($event)"
    #highlightDirectiveRef="hl"
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [cardIndex]="$index"
    [noImageTpl]="blankImage"
    (courseChanged)="onCourseChanged($event)"
  >
    <course-image [src]="course.iconUrl"></course-image>

    <div class="course-description" (dblclick)="highlightDirectiveRef.toggle()">
      {{ course.longDescription }}
    </div>
  </course-card>
</div>
}
